*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
  outline: 1px solid limegreen !important; */
}

body{
  box-sizing: inherit;
  font-family: Blinker;
  min-height: 100vh;
}

.layout{
  display: flex;
  flex-direction: column;
  position:absolute;
  z-index:300;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #fff;
}

header .header_desktop {
  display: none;
  max-width: 80rem;
  margin: auto;
}

header .header_mobile {
  height: 6rem;
  padding: 0 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

section .title_titles, section .title_links {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.logo {
  width: 3rem;
  height: auto;
  border-radius: 5px;
}

nav ul li a {
  /* font-size: 2.5rem; */
  font-weight: 700;
  color: #52b788;
  font-family: Blinker;
  text-decoration: none;
}

.hamburger {
  width: 3.5rem;
  position: relative;
  z-index: 10;
}

.header_mobile .bar{
  width: 100%;
  height: 0.8rem;
  border-radius: 2px;
  background-color: #52b788;
  translate: transform .2s;
}

.hamburger .bar:first-child {
  transform: translate3d(0,-0.4rem,0);
}

.hamburger .bar:last-child {
  transform: translate3d(0,0.4rem,0);
}

main{
  margin-top: 6rem;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

main .home_desktop{
  display: none;
}

main .home_mobile{
  padding: 0 1.8rem;
}

.title_titles {
  margin-bottom: 2rem;
}
.title_titles h1{
  font-size: 2.2rem;
  font-weight: 700;
}

.title_titles h2{
  font-weight: 700;
}

.discover{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discover_stack ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.discover_stack ul li img {
  height: 1.5rem;
  width: auto;
}

.discover_presentation {
  text-align: justify;
  margin: 2rem 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.cv_dowload {
  color: #52b788;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

.title_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 1rem;
}

.title_links button:first-of-type {
  margin-bottom: 1rem;
}


.btn {
  font-size: 1.2rem;
  font-weight: 700;
  padding: .5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.btn-green {
  background-color: #52b788;
  color: #fff;
  border: 2px solid transparent;
}

.btn-light {
  border: 2px solid #52b788;
  color: #52b788;
}
footer{
    width: 100vw;
    max-width: 80rem;
    margin: auto;
}
footer .socials {
  padding: 0 1.8rem;
  max-width: 118rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.socials ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}

.socials__link {
  text-decoration: none;
}

.socials__link span {
  font-size: 1.2rem;
  margin-right: .5rem;
  color: #000;
}

.socials ul {
  font-size: 1.5rem;
}

.socials ul li i{
  color: #000;
  margin-right: .5rem;
}

main .contact {
  padding: 0 1.8rem;
}

.contact a {
  text-decoration: none;
}

.contact h1{
  font-size: 2rem;
}

.main-contact .socials {
  display: none;
}

main.main_projects .projects {
  padding: 0 1.8rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

main.main_projects .projects h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

main.main_projects .projects_container {
  display: flex;
  flex-direction: column;
}

main.main_projects .projects_container .apps, main.main_projects .projects_container .integrations {
  margin-bottom: 2.5rem;
}

main.main_projects .projects_container .apps h2, main.main_projects .projects_container .integrations h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .8rem;
}

main.main_projects .projects .projects_container .apps ul li a {
  text-decoration: none;
}

main.main_projects .projects .projects_container .apps ul  {
  list-style-type:none;
}

.app-preview {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.integration-preview {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.integration-preview a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.integration-preview a .img {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffc531;
  margin-right: 1rem;
  font-size: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.integration-preview a .integration-preview__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.integration-preview a.link {
  color: #52b788;
  font-size: 1.2rem;
  font-weight: 700;
}

.integration-preview a {
  display: flex;
  align-items: center;
  color: inherit;
}

.app-preview {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.app-preview a {
  display: flex;
  color: inherit;
  align-items: center;
}

.app-preview a .img, .app-preview a img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.app-preview a .app-preview__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-preview a .app-preview__text h3,  .integration-preview a .integration-preview__text h3{
  font-size: 1.3rem;
  font-weight: 600;
}

.app-preview>button {
  cursor: pointer;
  color: #52b788;
  font-size: 1.2rem;
  font-weight: 700;
  background: transparent;
  border: none;

}


main.main_projects .projects_container .integrations a.global_link {
  color: #52b788;
  font-weight: 700;
  font-size: 1.3rem;
}

div.content{
  background: rgba(82,183,136) ;
  position: fixed;
  top: 6rem;
  right: 0;
  width: 15rem;
  height: 10rem;
  box-shadow: -5px 0 4px rgb(17 75 95 / 30%);
  display: none;
  z-index: 301;
}

div.content nav{
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

div.content nav ul{
  font-size: 1.3rem;
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%;
  list-style-type: none;
}
div.content nav ul a{
color: #fff
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17,75,95,.3);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  width: 90%;
  padding: 2rem;
  border-radius: 1rem;
  margin: 0 1.8rem;
}

.modal .app-details .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .app-details .stack {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}
.modal .app-details .stack span {
  display: block;
}

.modal .app-details .description {
  margin: 0.5rem 0;
}

.modal .app-details .actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.modal .app-details .actions a {
  color: #52b788;
  cursor: pointer;
  width: 100%;
  display: inline;
  text-align: center;
}

.modal .app-details img {
  cursor: pointer;
}

@media screen and (min-width:900px) {

  .integrations ul{
    overflow: scroll;
    height: 80%;
  }

  .projects_container {
    max-height: 50vh;
  }
  .modal__container {
    max-width: 30rem;
}

  footer{
    width: 100vw;
    max-width: 80rem;
    margin: auto;
}
footer .socials {
  padding: 0 0;
  /* max-width: 50rem; */
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000;
}

.socials ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0 1.8rem;
}

footer .socials ul li{
  margin-right: 1rem;
}

 div.content{
  display: none;
 }

  a {
    text-decoration: none;
    color: #000;
  }
  header .header_mobile {
    display: none;
  }

  main .home_mobile{
    display: none;
  }

  header .header_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
  }
  
  main .home_desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto;
    
  }
  header .header_desktop nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }


  header .header_desktop nav{
    align-self: center;
    width: 20rem;
  }

  header .header_desktop nav ul li{
    color: #52b788;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
  }

  main .home_desktop section {
    width: 45%;
}

.discover_stack ul li img {
  height: 2.5rem;
}

.title_titles h1{
  font-size: 3rem;
}
.title_titles h2{
  font-size: 2.2rem;
}
 .btn{
  font-size: 1.6rem;
  width: 20rem;
 }

 .main-contact {
  flex-direction: row;
  margin-top: 6rem;
  flex: 4;
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
 }

 .main-contact .contact{
  width: 45%;
 }

 .main-contact .socials {
  padding: 0 1.8rem;
  width: 30%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  color: #000;
  align-self: center;
}
.main-contact .socials ul {
  flex-direction: column;
  align-items: flex-start;
}

.main-contact .socials h2{
  margin-bottom: 1rem;
}
.main-contact .socials ul li i {
margin-bottom: 1rem;
}
.main-contact .socials ul li i {
  font-size: 2.2rem;
  width: 50px;
  margin-right: 2rem;
  height: auto;
  filter: none;
}

.main-contact .socials .fa-linkedin {
  color: #2979CA;
  
}
.main-contact .socials .fa-f {
  color: #6ABECD;
}

main.main_projects .projects {
  width: 100%;
  padding: 0;
  max-width: 80rem;
  margin: 0 auto;
}


main.main_projects .projects h1 {
  font-size: 3rem;
  max-width: 8000px;

}

main.main_projects .projects_container .apps h2, main.main_projects .projects_container .integrations h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

main.main_projects .projects_container {
  flex-direction: row;
  justify-content: space-between;
}

main.main_projects .projects_container .apps, main.main_projects .projects_container .integrations {
  width: 45%;
}


}

@media screen and (max-width:432px) {
  .socials__link span {
    display: none;
  }
}